#title {
  margin-top: 5%;
}
header {
  font-family: candara;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  border-bottom-style: solid;
  border-color: #143d5e;
}
h2 {
  padding-top: 2%;
  text-align: center;
  font-size: 20px;
  font-family: candara;
}
#image {
  max-width: 100%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#img-caption {
  text-align: center;
  font-size: 16px;
  font-family: candara;
  font-style: italic;
}
h3 {
  font-family: candara;
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
}
#timeline {
  font-family: candara;
  font-size: 20px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2%;
}
#quote {
  font-family: candara;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  color: #143d5e;
  font-weight: 600;
  font-style: italic;
}
footer {
  font-family: candara;
  text-align: center;
  font-size: 30px;
  padding-left: 20%;
  padding-right: 20%;
}
body {
  background-color: #d9dadb;
}
#img-div {
  background-color: #a0b0bd;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: #a0b0bd;
}
#link {
  font-size: 20px;
  padding-bottom: 70px;
}
a {
  color: #143d5e;
}
@media only screen and (max-width:700px){
  #timeline{padding-left: 10%;
  padding-right: 10%;}
}
